$body-background: #f2f2f5;
$card-background: white;
$card-shadow: #e8e9e9;
$table-header-background: rgba(#3C3C43, 0.18);
$table-header-text: black;
$table-row-hover: rgba(#3C3C43, 0.08);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: $body-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100dvw;
  box-sizing: border-box;
  // margin: 0.5rem;
}

header {
    position: sticky;
    left: 0;
    text-align: center;
}

main {
    max-width: 100%;
    overflow: scroll;
    max-height: 60dvh;
    border-radius: 16px;
    background: $card-background;
    box-shadow: 0px 2px 16px $card-shadow;
}

table {
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    white-space: nowrap;
}

thead {
    border-bottom: 1px solid $table-header-background;
    color: $table-header-text;

    th {
        position: sticky;
        top: 0;
        background: white;
        z-index: 2;

        &:first-child {
            position: sticky;
            left: 0;
            z-index: 3;
            border-top-left-radius: 8px;
        }

        &:last-child {
            border-top-right-radius: 8px;
        }
    }
}

th, td {
//    border-bottom: 1px solid black;
    padding: 0.5em 1em;
    min-width: 3em;
    background: white;

    &:first-child {
        position: sticky;
        left: 0;
    }
}

tbody {
    tr {
        td, th {
        }

        &:hover {
            background: $table-row-hover;
            border-radius: 8px;
        }

        &:last-child {
            td, th {
                &:first-child {
                    border-bottom-left-radius: 8px;
                }

                &:last-child {
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
}

footer {
    margin-top: 1em;
    text-align: center;

    p {
        font-size: 0.9rem;
    }
}

a {
    color: black;
}
